.BuscaInput{
  display: inline-flex;
  width: 100%;
}

.loading{
  width: 100%;
  left: 46%;
  right: 50%;
  position: fixed;
  top: 46%;
}

#progresso{
  width: 90.5%;
  position: absolute;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}